[Desktop Entry]
Comment=light red
Name=Moe
X-KDE-PluginInfo-Author=jomada
X-KDE-PluginInfo-Category=Plasma Look And Feel
X-KDE-PluginInfo-Email=gicalucejo@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL 3+
X-KDE-PluginInfo-Name=Moe
X-KDE-PluginInfo-Version=1.5
X-KDE-PluginInfo-Website=https://gitlab.com/jomada/moe-theme
X-KDE-ServiceTypes=Plasma/LookAndFeel
X-KPackage-Dependencies=kns://colorschemes.knsrc/api.kde-look.org/1284573,kns://plasma-themes.knsrc/api.kde-look.org/1284575,kns://aurorae.knsrc/api.kde-look.org/1437785,kns://xcursor.knsrc/api.kde-look.org/1411743,kns://wallpaper.knsrc/api.kde-look.org/1498263
